.content-ideas {
    overflow: hidden;
    margin-right: rem(315);
    margin-left: rem(270);

    @include clearfix;

    h1 {
        margin: 0 0 rem(18);

        font-size: rem(24);
    }

    .search,
    .btn,
    .btn-follow,
    .ideas__btn{
        min-width: 23%;
    }

}