mixin news-btn(data)
    +b.UL.news-btn&attributes(attributes)

        - each item, num in data

            if (item.arrow === "left" )
                - var arrow = "_prev";

            else if (item.arrow === "right")
                - var arrow = "_next";

            else
                - var arrow = "";

            +e.item
                +e.link(href=item.link,
                        class= arrow)= item.text
