extends ../components/layout/layout
include ../components/head/head
include ../components/gift-content/gift-content

block head
    +head(head.defaults)

block content
    .container
        +gift-content.content