extends ../components/layout/layout
include ../components/head/head
include ../components/bread-crumbs/bread-crumbs
include ../components/menu-left/menu-left
include ../components/content-ideas/content-ideas
include ../components/ideas/ideas
include ../components/idea-edit/idea-edit

block head
    +head(head.defaults)

block content
    .container
        +bread-crumbs
        +menu-left(menuLeft.defaults)
        +ideas
        .content-ideas
            +idea-edit