extends ../components/layout/layout
include ../components/head/head
include ../components/bread-crumbs/bread-crumbs
include ../components/content-structure/content-structure
include ../components/menu-left/menu-left
include ../components/content-direction/content-direction

block head
    +head(head.defaults)

block content
    .container
        +bread-crumbs
        +menu-left(menuLeft.defaults)
        +content-direction.content-section