extends ../components/layout/layout
include ../components/head/head
include ../components/bread-crumbs/bread-crumbs
include ../components/menu-left/menu-left
include ../components/content-shop/content-shop

block head
    +head(head.defaults)

block content
    .container
        +bread-crumbs
        +menu-left(menuLeft.defaults)
        +content-shop.content-news