extends ../components/layout/layout
include ../components/head/head
include ../components/bread-crumbs/bread-crumbs
include ../components/content-structure/content-structure
include ../components/structure-menu/structure-menu

block head
    +head(head.defaults)

block content
    .container
        +bread-crumbs
        +structure-menu
        +content-structure._padding-left