extends ../components/layout/layout
include ../components/head/head
include ../components/bread-crumbs/bread-crumbs
include ../components/menu-left/menu-left
include ../components/content-structure/content-structure

block head
    +head(head.defaults)

block content
    .container
        +bread-crumbs
        +menu-left(structure.defaults).menu-left_structure
        +content-structure