mixin comments(data)
    +b.comments&attributes(attributes)
        +e.title Комментарии

        +e.item
            +e.date 16 ноября 2015 г. 11.03
            +e.A.name(href="#") Кухочкая Екатерина Владимировна
            +e.text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sequi.
            +e.BUTTON.btn-anser Ответить

        +e.item
            +e.date 16 ноября 2015 г. 11.03
            +e.A.name(href="#") Кухочкая Екатерина Владимировна
            +e.text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sequi.
            +e.BUTTON.btn-anser Ответить

            +e.item_anser
                +e.date 16 ноября 2015 г. 11.03
                +e.A.name(href="#") Кухочкая Екатерина Владимировна
                +e.text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sequi.
                +e.BUTTON.btn-anser Ответить

                +e.item_anser
                    +e.date 16 ноября 2015 г. 11.03
                    +e.A.name(href="#") Кухочкая Екатерина Владимировна
                    +e.text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sequi.
                    +e.BUTTON.btn-anser Ответить


        +e.anser
            +e.TEXTAREA.entry-fiend(placeholder="Введите Ваше сообщение")
            +e.BUTTON.btn Отправить комментарий