.comments {

    font-size: rem(15);

    &__title{
        margin-bottom: rem(30);

        color: $title-color;
        font-size: rem(18);
        font-weight: 800;
    }

    &__item{
        position: relative;

        padding: rem(20) rem(10);
        border: rem(1) solid $border-color;
        margin-bottom: rem(25);

        border-radius: rem(5);

        &_anser {
            border: none;
            margin: rem(15) 0 0 rem(15);
            padding-bottom: 0;
            padding-right: 0;

            .comments {

                &__text {
                    margin-top: rem(5);
                }

                &__btn-anser {
                    top: rem(31);
                    right: rem(14);
                }
            }
        }
    }

    &__date{
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;

        font-size: rem(13);

    }

    &__name{
        display: inline-block;
        vertical-align: top;

        color: $title-color;
        font-size: rem(13);


        &:hover{
            text-decoration: none;
        }
    }

    &__text-wrap {
        margin-left: rem(8);
    }

    &__text{
        position: relative;

        margin-top: rem(18);
        padding: rem(15) rem(8);
        border: rem(1) solid $border-color;
        
        border-radius: rem(5);
        background-color: $bg-color;

    }

    &__btn-anser{
        position: absolute;
        top: rem(43);
        right: rem(25);

        padding: rem(5);
        border: none;

        font-size: rem(12);
        color: $light-color;

        background-color: $main-color;
        border-radius: rem(5);

        transition: color .3s, background .3s;
        
        &:hover {
            color: darken($light-color, 5);
            background-color: lighten($main-color, 2);
        }

    }

    &__entry-fiend{
        width: 100%;
        padding: rem(10);
        border: rem(1) solid $border-color;
        min-height: rem(100);
        margin-bottom: rem(15);

        color: $main-color;

        border-radius: rem(5);
        resize: none;
    }

    &__btn{
        padding: rem(8);
        border: rem(1) solid $border-color;
        margin-bottom: rem(15);

        color: $main-color;

        background-color: transparent;
        border-radius: rem(5);

        transition: background .3s;
        
        &:hover{
            background-color: $bg-color;
        }
    }
}