include ../../../node_modules/bemto.jade/bemto
include ../header-top/header-top

doctype html
html(class="no-js", lang="ru")

    head
        block head

    body.page
        | %=symbols=%

        .page__wrapper
            +header-top

            block content



        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script
           | if (!window.jQuery) {document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>');}
        </script>
        script(src='%=static=%js/main%=hash=%%=min=%.js')
