include ../../../node_modules/bemto.jade/bemto
include ../header-top/header-top

doctype html
html(class="no-js", lang="ru")

    head
        block head

    body.page
        | %=symbols=%

        .page__wrapper
            +header-top

            block content



        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
