include ../search/search
include ../categories/categories
include ../btn-follow/btn-follow
include ../btn-grid-filter/btn-grid-filter
include ../date-filter/date-filter

mixin filter(data)
    +b.filter&attributes(attributes)
        block
