.content-shop {

    &__header {
        display: flex;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
    }

    &__basket {
        width: 25%;
        padding: rem(5) rem(5) rem(5) rem(15);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: rem(10);
    }

    &__item {
        width: calc(33% - .25rem);
        margin-bottom: rem(8);
    }
}