.content-shop {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: rem(10);
    }

    &__item {
        width: calc(33% - .25rem);
        margin-bottom: rem(8);
    }
}