.shop-item {
    display: inline-block;
    padding: rem(10);

    text-align: center;
    color: $title-color;

    transition: color .3s;

    &:hover {
        color: $hover-color;
    }

    &__inner {
        padding: rem(10);
        border: rem(1) solid $border-color;

        border-radius: rem(5);
    }

    &__title {
        margin-bottom: rem(15);

        font-size: rem(25);

        text-align: center;
    }

    &__image-wrap {
        margin-bottom: rem(15);

        overflow: hidden;
        border-radius: rem(5);

        text-align: center;
    }

    &__img {
        display: inline-block;
        vertical-align: top;
        height: rem(180);
    }

    &__btn {
        width: 100%;
    }
}