.slider-small {

    &__link{
        position: relative;

        display: block;
        height: 100%;
    }

    &__title-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: rem(60);;
    }

    &__title{
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        min-height: rem(60);
        padding: rem(0)  rem(29);

        color: $light-color;
        background-color: $title-bg;
        text-align: center;

        h3{
            margin: 0;
            display: inline-block;
            vertical-align: middle;

            font-size: rem(18);


        }
    }

    // SLICK arrows

    .slick-arrow{
        position: absolute;
        bottom: rem(14);
        z-index: 1;

        height: rem(30);
        width: rem(30);

        font-size: 0;
        border: none;
        background-color: transparent;
        outline: none;

        &::before{
            content: '';
        }
    }

    .slick-prev{
        left: rem(5);

        &::before{
            @include triangle(14px, $light-color, left);
        }
    }

    .slick-next{
        right: rem(5);

        &::before{
            @include triangle(14px, $light-color, right);
        }
    }
}