mixin slider-small(data)
    +b.slider-small&attributes(attributes)
        each ent, num in data
            +e.item
                +e.image(style="background-image: url(__static__img/content/slider-small.jpg)")
                +e.link(href="#{ent.link}")
                +e.content
                    +e.title-wrap
                        h3= ent.title