mixin search(data)
    +b.FORM.search&attributes(attributes)
        input(type="text"
            name="search"
            placeholder="Поиск сотрудника, документов, информации...")

        button Поиск