.content-section {
    float: right;

    width: 75%;
    //margin-left: rem(50);
    padding-bottom: rem(73);
    margin-top: rem(-35);

    h1{
        margin-bottom: rem(14);
        margin-top: 0;

        color: $dark-color;
    }

    &_birthday {

        .date-bithday {
            text-align: center;
        }
    }
}