.menu-left {
    float: left;
    
    width: 22%;

    color: $main-color;


    a{
        display: block;
        //transition: all .3s;
        position: relative;
        z-index: 9;

        &:hover{
            text-decoration: none;
            background-color: $bg-color;

        }

    }

    li{
        position: relative;
        z-index: 2;
    }

    &__list{
        margin: 0;
        padding: 0;
        border-top: rem(2) solid #dadbdb;

        list-style-type: none;
    }

    &__item{
        position: relative;

        transition: all .3s;

        &:hover{

            .menu-left__link{

                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;

                    border-left: 4px solid;

                    color: $hover-color;
                    content: '';
                }
            }
        }

        &_dropdown{
            z-index: 8 !important;

            &:hover{

                &::before{
                    transform: rotate(-180deg) translateY(50%);
                }

                .menu-left__submenu-2lvl{
                    position: relative;

                    opacity: 1;
                    height: 100%;
                    transform: translateY(0);

                    pointer-events: auto;

                }
            }

            &::before{
                position: absolute;
                right: rem(10);
                top: rem(28);
                z-index: 10;
                pointer-events: none;

                @include triangle(9px, $main-color, down);

                content: '';
                transition: all .3s;
            }
        }

        &_active{
            z-index: 3 !important;

            &::before{
                display: none;
            }

            .menu-left__submenu-2lvl-item{
                z-index: 8 !important;
            }

            .menu-left__link{

                &::before{
                    position: absolute;
                    z-index: 8;
                    left: 0;
                    top: 0;
                    height: 100%;

                    border-left: 4px solid;

                    color: $hover-color;
                    content: '';
                }
            }

            .menu-left__submenu-2lvl{
                position: relative;
                height: 100%;

                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }
        }

    }

    &__link{
        position: relative;

        padding: rem(17) rem(20) rem(17) rem(12);
        border-bottom: rem(2) solid #dadbdb;

        text-transform: uppercase;
        font-size: rem(14);
        color: $dark-color;
        font-weight: 600;
        background-color: #fff;
        
        transition: all .3s;

        &_active{
            background-color: $bg-color;
        }
    }

    &__submenu-2lvl{
        position: absolute;
        z-index: 1;

        margin: 0;
        padding: 0;
        height: 0;

        font-size: rem(14);

        opacity: 0;
        pointer-events: none;
        list-style-type: none;

        transform: translateY(-50%);

        transition: transform .4s, opacity .1s;
    }

    &__submenu-2lvl-item{
        border-bottom: rem(2) solid #dadbdb;

        position: relative;

        &_dropdown{

            &:hover{

                 >.menu-left__submenu-3lvl{
                    opacity: 1;
                    z-index: 6;
                    transform: translateX(0);
                }
            }

            &::before{
                position: absolute;
                z-index: 12;
                right: rem(10);
                top: 50%;

                transform: translateY(-50%);

                @include triangle(9px, $main-color, right);

                content: '';
            }
        }

    }

    &__submenu-2lvl-link{
        display: block;
        padding: rem(17) rem(10) rem(17) rem(25);

        color: $main-color;
        position: relative;
        z-index: 11;
        background-color: #fff;
    }

    &__submenu-3lvl{
        position: absolute;
        left: rem(261);
        top: rem(-2);
        z-index: -1;

        transform: translateX(-999px);
        opacity: 0;

        border: rem(2) solid #dadbdb;
        padding: rem(17) 0 rem(15);
        margin: 0;
        width: rem(475);

        list-style-type: none;
        background-color: $light-color;

        transition: transform .4s, opacity .2s;
    }

    &__submenu-3lvl-item{

    }

    &__submenu-3lvl-link{
        padding: rem(6) rem(10);

        color: $main-color;
        font-size: rem(15);
        font-weight: 600;

        &_active{
            background-color: $bg-color;
        }
    }

    &__submenu-4lvl,
    &__submenu-5lvl{
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__submenu-4lvl-link{
        padding: rem(6) rem(10) rem(6) rem(25);

        color: #939598;
        font-weight: 400;
        font-size: rem(12);

        &_active{
            background-color: $bg-color;
        }
    }

    &__submenu-5lvl-link{
        color: #939598;
    }

    &__plus{
        position: absolute;
        top: rem(10);
        left: 0;
        z-index: 12;

        width: rem(20);
        height: rem(20);

        text-align: center;
        cursor: pointer;
        transition: color .3s;

        &::before{
            display: inline-block;
            vertical-align: middle;

            font-size: rem(12);
            font-family: glyphicons;
            content: '\002b';
        }

        &:hover{
            color: $hover-color;
        }

        &_active{

            &::before{
                content: '\2212';
            }
        }

    }

}