.menu-left {
    float: left;
    
    width: 22%;
    border-bottom: rem(2) solid #dadbdb;

    color: $main-color;


    a{
        display: block;
        //transition: all .3s;

        &:hover{
            text-decoration: none;
            background-color: $bg-color;

        }

    }

    &_structure{
        width: 18%;

        font-size: rem(12);

        .menu-left__link{
            padding: rem(10) rem(10) rem(10) rem(8);

            font-size: rem(12);
        }

        .menu-left__submenu-2lvl-link{
            padding: rem(10) rem(10) rem(10) rem(18);

            font-size: rem(11);
        }

        .menu-left__submenu-3lvl-link{
            padding: rem(8);

            font-size: rem(10);
        }

        .menu-left__submenu-4lvl-link{
            font-size: rem(9);
        }

        .menu-left__submenu-3lvl-wrap{
            left: rem(208);
        }

        .menu-left__submenu-3lvl{
            padding: 0;
        }
    }

    &__list{
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__item{
        position: relative;

        transition: all .3s;

        &:hover{

            .menu-left__link{
                //transition: all .3s;

                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;

                    border-left: 4px solid;

                    color: $hover-color;
                    content: '';
                }


            }
        }

        &_dropdown{
            transition: all .3s;

            &:hover{
                &::before{
                    transform: rotate(-180deg) translateY(100%);
                }

                .menu-left__submenu-2lvl{
                    height: auto;
                    visibility: visible;
                }
            }

            &::before{
                position: absolute;
                right: rem(10);
                top: rem(28);
                z-index: 2;

                @include triangle(9px, $main-color, down);

                content: '';
                transition: all .3s;
            }
        }

        &_active{

            &::before{
                display: none;
            }

            .menu-left__link{

                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;

                    border-left: 4px solid;

                    color: $hover-color;
                    content: '';
                }
            }

            .menu-left__submenu-2lvl{
                height: auto;
                visibility: visible;
            }
        }

    }

    &__link{
        position: relative;

        padding: rem(17) rem(20) rem(17) rem(12);
        border-top: rem(2) solid #e1e0df;

        text-transform: uppercase;
        font-size: rem(14);
        color: $dark-color;
        font-weight: 600;
        transition: all .3s;

        &_active{
            background-color: $bg-color;
        }
    }

    &__submenu-2lvl{
        margin: 0;
        padding: 0;
        height: 0;

        visibility: hidden;
        list-style-type: none;
        transition: height .3s;

        font-size: rem(14);
    }

    &__submenu-2lvl-item{
        border-top: rem(3) solid #e1e0df;

        position: relative;

        &_dropdown{

            &:hover{

                .menu-left__submenu-3lvl-wrap{
                    width: auto;
                }
            }

            &::before{
                position: absolute;
                right: rem(10);
                top: 50%;

                transform: translateY(-50%);

                @include triangle(9px, $main-color, right);

                content: '';
            }
        }

    }

    &__submenu-2lvl-link{
        display: block;
        padding: rem(17) rem(10) rem(17) rem(25);

        color: $main-color;
    }

    &__submenu-3lvl-wrap{
        position: absolute;
        left: rem(254);
        top: rem(-3);
        z-index: 100;

        width: 0;

        overflow: hidden;
        transition: all .3s;
        //transform: scaleX(0);
    }

    &__submenu-3lvl{
        position: relative;

        border: rem(2) solid #dadbdb;
        //border-left-color: transparent;
        padding: rem(17) 0 rem(15);
        margin: 0;
        width: rem(475);

        list-style-type: none;
        background-color: $light-color;
    }

    &__submenu-3lvl-item{

    }

    &__submenu-3lvl-link{
        padding: rem(6) rem(10);

        color: $main-color;
        font-size: rem(15);
        font-weight: 600;

        &_active{
            background-color: $bg-color;
        }
    }

    &__submenu-4lvl{
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__submenu-4lvl-link{
        padding: rem(6) rem(10) rem(6) rem(25);

        color: #939598;
        font-weight: 400;
        font-size: rem(12);

        &_active{
            background-color: $bg-color;
        }
    }

}