mixin btn-follow(data)
    +b.A.btn-follow&attributes(attributes)(href="#")
        | Подписаться


        //+e.INPUT.input(type="checkbox" id="follow")
        //+e.LABEL.label(for="follow") Подписаться