.news-bank {

    padding: rem(22) rem(60) rem(15) rem(24);

    &:hover{
        .news-bank__header{
            color: $hover-color;
            transition: all .4s;
        }
    }

    &__header{
        margin: 0 0 rem(30) 0 ;
        display: block;

        color: $title-color;
        font-size: rem(19);
        text-transform: uppercase;
        transition: all .3s;

        &:hover{
            text-decoration: none;
        }
    }

    &__list{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item{
        margin-bottom: rem(15);

        transition: all .3s;

        &:hover{

            .news-bank__date{
                color: $main-color;
            }

            .news-bank__title{
                color: $dark-color;
            }
        }
    }


    &__link{
        display: flex;

        &:hover{
            text-decoration: none;
        }
    }

    &__date{
        margin-right: rem(12);
        min-width: rem(76);
    }

    &__title{
        margin: 0;
        max-width: 100%;


        color: $main-color;
        font-size: rem(18);
        transition: all .3s;
    }

    // Slick arrows

    .slick-arrow {
        position: absolute;
        top: rem(-62);

        width: rem(34);
        height: rem(31);
        border: rem(1) solid $border-color;

        font-size: 0;

        background-color: #fff;
        transition: background .3s;

        &::before {
            content: '';
        }
    }

    .slick-prev{
        right: 0;

        border-top-left-radius: rem(6);
        border-bottom-left-radius: rem(6);

        &::before{
            margin-right: rem(5);

            @include triangle(14px, $main-color, left);
        }

        &:hover{
            background-color: $bg-color;
        }
    }

    .slick-next{
        right: rem(-34);

        border-left-color: transparent;

        border-top-right-radius: rem(6);
        border-bottom-right-radius: rem(6);

        &::before{
            margin-left: rem(5);

            @include triangle(14px, $main-color, right);
        }

        &:hover{
            background-color: $bg-color;
        }
    }
}