.calendar {

    padding: rem(19);
    height: 100%;

    transition: all .3s;

    &:hover{
        .calendar__header{
            color: $hover-color;
            transition: all .3s;
        }
    }

    &_gift {
        .calendar__header {
            color: $hover-color;
        }

        &:hover {
            .calendar__header{
                color: $title-color;
            }
        }

    }

    &__header{
        margin: 0 0 rem(30);
        display: block;

        color: $title-color;
        font-size: rem(19);
        text-transform: uppercase;
        transition: all .3s;

        &:hover{
            text-decoration: none;
        }
    }

    &__list{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item{
        margin-bottom: rem(27);

        font-size: rem(17);
        font-weight: 300;
        color: $main-color;
        transition: all .3s;

        &:hover{
            color: $dark-color;

            .calendar__date{
                color: $main-color;
            }

        }
    }

    &__link{
        display: block;

        color: inherit;

        &:hover{
            text-decoration: none;
        }
    }

    &__date{
        display: block;
        margin-bottom: rem(3);
    }
}