.btn {
    position: relative;

    display: inline-block;
    vertical-align: top;
    min-height: rem(33);
    //min-width: 22%;
    padding: rem(8) rem(15) rem(6) rem(35);
    margin: 0 rem(15) rem(0) 0;
    border:none;

    font-size: rem(14);
    background-color: #27aae1;
    border-radius: rem(30);
    color: $light-color;
    //text-transform: uppercase;
    transition: background .3s;

    &:hover{
        background-color: $hover-color;

        &::before {
            @include bg($icon-checked);
        }
    }

    &::before{
        position: absolute;
        left: rem(5);
        top: 50%;
        transform: translateY(-48%);

        //font-family: glyphicons;
        //font-size: rem(22);
        //content: '\e084';
        //color: $light-color;
        //transition: all .3s;

        content: '';

        @include bg($icon-check);
        height: 26px;

    }

}