.content-news {
    float: right;
    overflow: hidden;

    width: 75%;

    @include clearfix;

    h1 {
        margin: 0 0 rem(18);

        font-size: rem(24);
    }

    .news-item:nth-child(even){
        margin: 0 0 rem(8) 0;
    }

    &__footer{
        float: left;

        width: 100%;
        padding: rem(36) 0 rem(52) 0;

        @include clearfix

    }

}