include ../btn/btn

mixin ideas(data)
    +b.FORM.ideas&attributes(attributes)
        +e.A.link_title(href="#") Все идеи
        +e.H3.subtitle Идеи в статусе
        +e.UL.list

            -var items = ["Новая идея", "У автора на доработке", "На экспертизе", "На рассмотрении", "Внедрено", "Отклонено", "Принята на внедрение", "Лучшая практика", "Повтор идеи (отклонено)"]

            - for (var i = 0; i < items.length; i++)

                +e.item
                    +e.INPUT.checkbox(type="checkbox" id="checkbox-list-#{i}")
                    +e.LABEL.label_list(for="checkbox-list-#{i}")= items[i]

        +e.INPUT.checkbox(type="checkbox" id="checkbox-idea-1")
        +e.LABEL.label(for="checkbox-idea-1") Ответственный за внедрение

        +e.INPUT.checkbox(type="checkbox" id="checkbox-idea-2")
        +e.LABEL.label(for="checkbox-idea-2") Мои идеи

        +btn.__btn Искать
