.ideas {

    float: right;
    width: rem(300);
    padding: rem(22) rem(22) rem(15) rem(22);
    border: rem(2) solid $bg-color;

    font-size: rem(14);
    color: $main-color;

    border-radius: rem(10);
    background-color: $light-color;


    &__link{
        display: inline-block;
        vertical-align: top;
        padding: rem(6) rem(10);
        margin: rem(5) 0;

        color: $title-color;

        border-radius: rem(5);

        transition: color .3s;

        &:hover{
            background-color: $bg-color;
            text-decoration: none;
        }

        &_bold{
            font-weight: 800;
        }
        
        &_title{
            display: block;
            padding: rem(10);

            color: $hover-color;
            text-align: center;

            background-color: $bg-color;
        }
    }

    &__list{
        margin: 0 0 rem(30) rem(10);
        padding: 0;

        list-style-type: none;

        a{
            display: block;
            padding-left: rem(30);
            margin: 0;

            color: inherit;
        }
    }

    &__item{
        position: relative;
    }

    &__label{
        position: relative;

        display: block;
        padding-left: rem(25);
        margin: rem(7) rem(15) rem(15) 0;

        font-size: rem(14);
        color: $main-color;
        cursor: pointer;

        &::before{
            position: absolute;
            left: 0;

            width: rem(18);
            height: rem(18);
            border: rem(1) solid ;

            border-radius: rem(5);
            content: '';
        }

        &::after{
            position: absolute;
            left: rem(3);
            top: rem(2);

            //width: rem(8);
            //height: rem(8);
            opacity: 0;

            font-size: rem(12);
            font-family: glyphicons;
            content: '\e013';
        }

        &_list {

            &::before {
                display: none;
            }

            &::after {
                position: absolute;
                left: rem(4);
                top: 50%;
                transform: translateY(-50%);

                font-size: rem(15);
                font-family: glyphicons;
                opacity: 1;

                content: '\2212';
                pointer-events: none;
            }
        }

    }

    &__checkbox{
        display: none;

        &:checked + .ideas__label::after{
            opacity: 1;
            transition: all .3s;
        }

        &:checked + .ideas__label_list::after{
            content: '\002b'
        }
    }

    &__btn {
        width: 100%;
    }

}