.send-idea {
    position: absolute;
    z-index: 50;
    top: rem(40);
    left: -100%;

    width: rem(500);

    transform: translateX(-999px);

    background-color: darken(#fff, 1);

    transition: transform .3s;

    &_active {
        transform: translateX(0);
    }

    &__form{
        border: rem(2) solid $bg-color;
        padding: rem(10);
        width: 100%;

        font-size: rem(14);
        color: $main-color;

        border-radius: rem(10);
    }

    &__title,
    &__text,
    &__label-file {
        width: 100%;
        border: rem(2) solid $bg-color;
        margin-bottom: rem(15);
        padding: rem(7);

        border-radius: rem(5);
    }

    &__text {
        min-height: rem(100);

        resize: none;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label-file {
        position: relative;

        width: 29%;
        margin-bottom: 0;

        overflow: hidden;
        cursor: pointer;
        text-align: center;

        transition: background .3s;

        &:hover {
            background-color: $bg-color;
        }
    }

    &__file {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        height: 100%;
        width: 100%;

        opacity: 0;
    }

    &__mark {
        display: inline-block;
    }

    &__btn {
        min-width: 29%;
        margin-right: 0;
    }


    &__label{
        position: relative;

        display: block;
        padding-left: rem(25);
        margin: rem(7) rem(15) rem(15) 0;

        font-size: rem(14);
        color: $main-color;
        cursor: pointer;

        &::before{
            position: absolute;
            left: 0;

            width: rem(18);
            height: rem(18);
            border: rem(1) solid ;

            border-radius: rem(5);
            content: '';
        }

        &::after{
            position: absolute;
            left: rem(3);
            top: rem(2);

            //width: rem(8);
            //height: rem(8);
            opacity: 0;

            font-size: rem(12);
            font-family: glyphicons;
            content: '\e013';
        }

    }

    &__checkbox{
        display: none;

        &:checked + .send-idea__label:after{
            opacity: 1;
            transition: all .3s;
        }
    }
}