include ../btn/btn

mixin send-idea(data)
    +b.send-idea&attributes(attributes)
        +e.FORM.form
            +e.INPUT.title(type="text" name="idea" placeholder="Название идеи")
            +e.TEXTAREA.text(placeholder="Описание идеи")
            +e.btns
                +e.LABEL.label-file
                    +e.mark Загрузить файл
                    +e.INPUT.file(type="file" )
                +e.INPUT.checkbox(type="checkbox" id="send-idea")
                +e.LABEL.label(for="send-idea") Ананимно
                +btn.__btn Отправить идею