// Common styles of the project

html, body {
    height: 100%;
}

html{
    font-size: vw(16, 1185);

    @include above(1185px){
        font-size: 16px;
    }
}

.page {
    font-family: 'Calibri-light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: rem(18);
}

.page__wrapper {
    padding-top: rem(34);
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container{
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 rem(15);

    @include clearfix;
}

p{
    color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: $bg-color;
}

h2{
    font-size: rem(19);
}

a,
a:focus{
    color: $title-color;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

img{
    max-width: 100%;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide{
    height: 100%;
}