// Common styles of the project

html, body {
    height: 100%;
}

html{
    font-size: vw(16, 1185);

    @include above(1185px){
        font-size: 14px;
    }
}

.page {
    font-family: PFBeauSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: rem(18);
}

.page__wrapper {
    padding-top: rem(34);
    max-width: 1600px;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container{
    max-width: 1183px;
    margin: 0 auto;
}

p{
    color: $main-color;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: $bg-color;
}

a,
a:focus{
    color: $title-color;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

img{
    max-width: 100%;
}