/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@font-face {
  font-family: 'PFBeauSansPro';
  src: url('../fonts/pfbeausanspro-regular/pfbeausanspro-reg-webfont.ttf');
  src: url('../fonts/pfbeausanspro-regular/pfbeausanspro-reg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-bold';
  src: url('../fonts/pfbeausanspro-bold/pfbeausanspro-sebold-webfont.ttf');
  src: url('../fonts/pfbeausanspro-bold/pfbeausanspro-sebold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri/calibri.ttf');
  src: url('../fonts/calibri/calibri.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri-light';
  src: url('../fonts/calibri/calibri_light.ttf');
  src: url('../fonts/calibri/calibri_light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'glyphicons';
  src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('ttf'),
       url('../fonts/glyphicons/glyphicons-halflings-regular.svg') format('svg'),
       url('../fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'),
       url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}