// GUI stylies of the project
// For example, styles of the links, buttons and so on.

// Выпадающий результат поиска

.searchfield-tooltip{
    position: absolute;
    left: 0;
    top: rem(35);
    z-index: 15;

    border: rem(2) solid $bg-color;
    min-width: rem(360);
    width: 100%;
    padding: rem(15);

    border-radius: rem(5);
    background-color: #fff;
    color: $main-color;

    &__list{
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__item{

    }

    &__link{
        display: block;
        padding: rem(5);

        color: inherit;

        border-radius: rem(5);

        transition: background .3s;

        &:hover{
            text-decoration: none;
            background-color: $bg-color;
        }
    }
}
