// File for scss-vars.
// For example: main colors, paddings and so on.

// Color
$main-color : #808080;
$hover-color : #DA002E;
$title-color : #39A9DC;
$title-bg: #0e3c62;
$light-color : #fff;
$dark-color : #202020;
$bg-color: #F0F0F0;
$border-color: #bcbec0;

