.date {

    font-size: rem(46);
    color: $dark-color;
    transition: all .3s;

    &__month{
        display: inline-block;
        vertical-align: top;
        margin-top: rem(7);

        font-size: rem(22);
    }
}