.date {
    position: relative;
    //z-index: 3;

    white-space: nowrap;

    font-size: rem(46);
    color: $dark-color;
    transition: all .3s;

    &__month{
        display: inline-block;
        vertical-align: top;
        margin-top: rem(7);

        font-size: rem(22);
    }

    &__year{
        margin-left: rem(-28);

        font-size: rem(14);
    }

    &__time{
        margin-left: rem(8);
        margin-top: rem(-12);
        display: inline-block;
        vertical-align: middle;

        font-size: rem(15);
    }
}