.form-structure {

    &__label{
        display: inline-block;
        vertical-align: top;
        width: 22%;
        margin: 0 rem(15) rem(15) 0;
    }

    .select2{
        margin: 0 rem(15) rem(15) 0;
    }

    &__input{
        width: 100%;
        border: rem(1) solid $border-color;
        padding: rem(8) rem(10) rem(6);

        border-radius: rem(5);
        font-size: rem(14);
        color: $main-color;
    }

    &__label-checkbox{
        position: relative;

        display: inline-block;
        vertical-align: top;
        padding-left: rem(25);
        margin: rem(7) rem(15) rem(15) 0;

        font-size: rem(14);
        color: $main-color;
        cursor: pointer;

        &::before{
            position: absolute;
            left: 0;

            width: rem(18);
            height: rem(18);
            border: rem(1) solid ;

            border-radius: rem(5);
            content: '';
        }

        &::after{
            position: absolute;
            left: rem(3);
            top: rem(2);

            //width: rem(8);
            //height: rem(8);
            opacity: 0;

            font-size: rem(12);
            font-family: glyphicons;
            content: '\e013';
        }

        &:hover{

            .interview__label-text{
                color: $hover-color;
                transition: all .3s;
            }
        }

    }

    &__checkbox{
        display: none;

        &:checked + .form-structure__label-checkbox:after{
            opacity: 1;
            transition: all .3s;
        }
    }

    &__btn{
        min-width: 22%;
    }
}