.main-nav {
    position: relative;

    border-bottom: 2px solid #e1e0df;

    background: linear-gradient(to top, #e0e0df, #f6f4f4);

    ul{
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    a{
        display: block;

        text-decoration: none;

        &:hover{
            text-decoration: none;
        }
    }

    .container{
        overflow: inherit;
    }

    &__list{
        position: relative;

        display: flex;
        justify-content: space-between;
    }

    &__item{
        flex: 1;
        position: relative;


        border-right: rem(2) solid #dadbdb;
        border-top: rem(4) solid transparent;
        box-shadow: rem(1) 0 rem(2) 0 #fff;

        text-align: center;

        transition: background .3s;

        &:first-of-type{
            border-left: rem(2) solid #dadbdb;
            box-shadow: rem(1) 0 rem(2) 0 #fff, rem(-1) 0 rem(2) 0 #fff;
        }

        &:hover{
            border-top: rem(4) solid $hover-color;

            background-color: $light-color;

            .main-nav__submenu{
                height: auto;
           }
            
            .main-nav__link{
                &::before{
                    position: absolute;
                    left: 0;
                    bottom: rem(-3);
                    z-index: 21;

                    width: 100%;
                    height: rem(10);

                    background-color: #fff;
                    content: '';
                }
            }
        }

    }

    &__link{
        padding-top: rem(19);
        padding-bottom: rem(15);
        position: relative;

        display: block;

        font-size: rem(16);
        color: #58595b;
        font-weight: 600;
        text-decoration: none;

        &:focus,
        &:hover,
        &:visited{
            text-decoration: none;
            color: #58595b;
        }
        
    }

    &__submenu{
        position: absolute;
        z-index: 20;
        top: rem(54);
        left: rem(-2);

        height: 0;
        width: rem(1185);

        overflow: hidden;
        text-align: left;

        &_right{
            right: 0;
            left: auto;
        }
    }

    &__submenu-wrap{
        display: inline-block;
        //vertical-align: top;
        max-width: rem(1185);

    }

}