mixin structure-catalog(data)
    +b.structure-catalog&attributes(attributes)
        - for(var n = 0; n < 3; n++)
            +e.row
                - for(var i = 0; i < 3; i++)
                    +e.item
                        +e.avatar-wrap
                            +e.IMG.avatar(src="__static__img/content/avatar-big.jpg" alt="Avatar")
                        +e.content
                            +e.label_name Ромашен Кирилл Динисович
                            +e.label_post Начальник отдела
                            +e.label_address Молоохтинский пр., д.64, лит.А, к. 1530
                            +e.label_phones
                                | Тел.:
                                +e.SPAN.phone-work  5355,
                                +e.SPAN.phone-mob 355525455-5224