.structure-catalog {

    font-size: rem(13);
    color: $main-color;

    &_birthday {

        a {
            text-decoration: none;
        }

        .structure-catalog__content {
            text-align: center;
        }

    }

    &__row{
        display: flex;
        flex-wrap: wrap;
        //justify-content: flex-start;
        border-bottom: rem(1) solid $border-color;
    }

    &__item{
        width: 33%;
        padding: rem(20) rem(10) rem(20) rem(20);

        text-align: center;
    }

    &__avatar-wrap{
        display: inline-block;
        vertical-align: top;
        padding: rem(5);
        border: rem(1) solid $border-color;
        max-width: rem(200);
    }

    &__avatar{
        width: auto;
        max-width: 100%;
        height: rem(170);
    }
    
    &__content {
        text-align: left;
    }

    &__label{
        padding: rem(6) 0;


        &_name{
            color: $hover-color;
            font-weight: bold;
        }
    }

    &__phone-work{
        margin: 0 rem(3);
    }
}