.header-top{
    padding-bottom: rem(19);

    font-family: PFBeauSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: auto;
    }

    &__menu{
        margin-top: rem(18);
    }

    &__search{
        min-width: rem(356);
    }

    &__notification{
        margin-left: auto;
        padding-right: rem(10);
        display: flex;
        justify-content: space-between;
        align-items: center;

        color: #58595b;
        font-size: rem(14);
    }

    &__notification-phone,
    &__notification-message{
        position: relative;

        cursor: pointer;

        &::before{
            font-family: glyphicons;
            font-size: rem(37);
        }
    }

    &__user{
        display: flex;
        align-items: center;
        max-width: rem(260);
        margin-right: rem(59);

        text-align: left;
        font-size: rem(14);
        text-decoration: none;
        color: inherit;

        &:hover{
            text-decoration: none;
        }
    }

    &__user-avatar{
        margin-right: rem(10);
        display: block;

        width: rem(56);
        height: rem(56);
        border-radius: 50%;
    }

    &__user-avatar-img{
        width: 100%;
    }

    &__notification-phone{
        margin-right: rem(34);

        &::before{
            content: '\e183';
        }
    }

    &__notification-message{

        &::before{
            content: '\e123';
            //font-size: rem(35);
        }
    }

    &__notification-count{
        position: absolute;
        top: rem(6);
        right: rem(-6);

        width: rem(23);
        height: rem(23);
        border: 1px solid #fff;

        color: $light-color;
        background-color: $hover-color;
        font-size: rem(11);
        line-height: rem(23);
        font-weight: 700;
        border-radius: 50%;
        text-align: center;

    }
}