mixin btn-grid-filter(data)
    +b.btn-grid-filter&attributes(attributes)

        +e.INPUT.radio(type="radio"
                        name="grid"
                        id="gridHalf"
                        checked)
        +e.LABEL.label(for="gridHalf")
            +e.SPAN.decor-square_top
            +e.SPAN.decor-square_bottom

        +e.INPUT.radio(type="radio"
                        name="grid"
                        id="gridFull")
        +e.LABEL.label(for="gridFull")
            +e.SPAN.decor-line