mixin btn-grid-filter(data)
    +b.btn-grid-filter&attributes(attributes)

        +e.BUTTON.item_grid._active
            +e.SPAN.decor-square_top
            +e.SPAN.decor-square_bottom

        +e.BUTTON.item_list
            +e.SPAN.decor-line