.submenu {
    position: relative;
    z-index: 10;

    //display: flex;
    display: table;
    //width: 100%;
    
    //columns: 5;
    border: 2px solid #dadbdb;
    //border-top-color: transparent;
    padding: rem(17) 0 rem(15) !important;

    text-align: left;
    background-color: $light-color;

    &__col{
        display: table-cell;
        
        max-width: rem(233);
        padding-left: rem(18);
        padding-right: rem(65);

        &:not(:last-of-type){
            border-right: 1px solid #dadbdb;
        }

        white-space: nowrap;
        word-break: break-all;
    }

    &__item{
        //margin-left: rem(25);
        position: relative;

        margin: rem(6) 0;
    }

    &__link{
        color: $dark-color;
        font-size: rem(14);
        font-weight: 600;
    }

    &__sub-item{
        margin-left: rem(20);
        margin-bottom: rem(6);

        color: $main-color;
    }

    &__sub-link{
        color: $main-color;
        font-size: rem(12);
        font-weight: 400;
    }

    &__link,
    &__sub-link{
        &:hover{
            color: $hover-color;
            transition: color .3s;
        }
    }
}