.submenu {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border: 2px solid #dadbdb;
    padding: rem(17) 0 rem(15) !important;

    text-align: left;

    &__item,
    &__sub-item{
        position: relative;

        padding-left: rem(21);
        width: 20%;
    }

    &__item{

        &::before{
            right: rem(-20);
        }
    }

    &__link{
        color: $dark-color;
        font-size: rem(14);
        font-weight: 600;
    }

    &__sub-item{
        margin-left: rem(20);
        margin-bottom: rem(6);
    }

    &__sub-link{
        color: $main-color;
        font-size: rem(12);
        font-weight: 400;
    }

    &__link,
    &__sub-link{
        &:hover{
            color: $hover-color;
        }
    }
}