.submenu {
    position: relative;
    z-index: 10;

    display: flex;
    //columns: 5;
    border: 2px solid #dadbdb;
    padding: rem(17) 0 rem(15) !important;

    text-align: left;
    background-color: $light-color;

    &__col{
        max-width: 290px;
        padding-left: rem(23);
        padding-right: rem(15);

        &:not(:last-of-type){
            border-right: 1px solid #dadbdb;
        }
    }

    &__item{
        margin-left: rem(25);
        position: relative;


        //&::before{
        //    position: absolute;
        //    right: 0;
        //    top: 0;
        //    height: 600px;
        //    border-right: 1px solid #dadbdb;
        //
        //    content: '';
        //}
    }

    &__link{
        color: $dark-color;
        font-size: rem(14);
        font-weight: 600;
    }

    &__sub-item{
        margin-left: rem(20);
        margin-bottom: rem(6);
    }

    &__sub-link{
        color: $main-color;
        font-size: rem(12);
        font-weight: 400;
    }

    &__link,
    &__sub-link{
        &:hover{
            color: $hover-color;
        }
    }
}