mixin users(data)
    +b.users&attributes(attributes)
        h1 Хантымансийская Александра Александровна
        +e.A.edit(href="#") Редактировать
        +e.inner
            +e.avatar
                img(src="__static__img/content/avatar-big.jpg")

            +e.TABLE.info_main
                tr
                    td Внутренний телефон:
                    td 3355
                tr
                    td Доп. телефон:
                    td +7 /921/ 123 45 67
                tr
                    td Адрес:
                    td Невский пр., 178, кабинет 37
                tr
                    td e-mail:
                    td
                        a(href="mailto: mail@bspb.ru") mail@bspb.ru
                tr
                    td День рождения:
                    td 17 июля
                tr
                    td Работает в Банке с:
                    td
                tr
                    td Уволен:
                    td 4 апреля 2011 года

                tfoot
                    tr
                        td
                            a(href="#") Написать сообщение
                        td
                            a(href="#") Показать переписку

            +e.TABLE.info

                tr
                    td Должность:
                    td Заместитель директора – начальник отдела
                tr
                    td Подразделение:
                    td
                        a(href="#") ДО Коммерческий департамент – Дирекция планирования и финансового контроля – Отдел отчетности по международным стандартам и аналитической обработке
                tr
                    td Отпуска:
                    td 01.06 - 14.06; 03.09 - 10.09; 12.12 - 19.12
                tr
                    td Награды:
                    td
