mixin share(data)
    +b.share&attributes(attributes)
        +e.UL.list
            +e.item
                +e.link_comment(href="#") 500

            +e.item
                +e.link_like(href="#") 500

            +e.item
                +e.link_dislike._disliked(href="#") 400

            +e.item
                +e.link_views(href="#") 2500