.grid {
    overflow: hidden;

    &__item{
        width: rem(225);
        height: rem(240);
        border: 1px solid #d1d3d4;

        &_height-2x{
            height: rem(488);
        }

        &_width-3x{
            //width: 59%;
            width: rem(685);
        }

        &_width-2x{
            //width: 39%;
            width: rem(451);
        }
    }
}