mixin content-direction(data)
    +b.content-direction&attributes(attributes)
        +e.avatar
            img(src="__static__img/content/avatar-big.jpg")
        +e.left
            h2 Уважаемые коллеги, добро пожаловать на портал Дирекциии по информационным технологиям!

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime deserunt rem facilis aut amet id a in asperiores accusantium deleniti.

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quia ad, saepe eveniet rem? Quia, nobis iure in vitae illum, nisi enim voluptas quae exercitationem, ad minus aut modi eos eum tenetur architecto consequatur nihil blanditiis quod possimus laborum odio!

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, libero!