mixin categories(data)
    +b.SELECT.categories&attributes(attributes)
        +e.OPTION.item Категория 1
        +e.OPTION.item Категория 1
        +e.OPTION.item Категория 1
        +e.OPTION.item Категория 1
        +e.OPTION.item Категория 1