.news-item {
    float: left;
    position: relative;
    
    width: calc(50% - .25rem);
    margin: 0 rem(8) rem(8) 0;
    height: rem(241);
    padding: rem(20);
    border: rem(2) solid $bg-color;

    overflow: hidden;
    transition: background .3s;

    &:hover{
        background-color: $bg-color;

        .news-item__image{
            transform: scale(1.05);
            //transition: transform .3s;
        }

        .news-item__title{
            color: $dark-color;
        }

        .news-item__date{
            color: $main-color;
        }

        .news-item__idea{
            color: $light-color;
            background-color: $main-color;
        }

        .news-item__name{
            color: $dark-color;
        }
    }

    &_img{

        &:hover{

            .news-item__title{
                color: $light-color;
            }

            .news-item__date{
                color: $light-color;
            }
        }

        .news-item__date{
            color: $light-color;
        }

        .news-item__title{
            color: $light-color;
            background-color: rgba(#0e3c62, .9);
        }

        .news-item__image{
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;
            display: block;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            //transform: scale(1.05);
            transition: transform .3s;
        }
    }

    // Списочное представление

    &_list{
        width: 100%;
        margin: 0 !important;
        height: auto;
        border-color: transparent;
        border-bottom-color: $bg-color;

        &:hover{
            border-bottom-color: $title-color;

            .news-item__title{
                color: $dark-color;
            }

            .news-item__date{
                color: $main-color;
            }

        }

        .news-item__link,
        .news-item__image {
            display: none;
        }

        .news-item__date{
            display: inline-block;
            vertical-align: top;
            
            color: $dark-color;
        }

        .news-item__share{
            display: block;
        }

        .news-item__category-wrap{
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
        }

        .news-item__category{
            background-color: transparent;
            color: $main-color;

            //&:hover{
            //    color: inherit;
            //    background-color: transparent;
            //}
        }

        .news-item__content{
            //display: block;
        }

        .news-item__text{
            display: block;
            margin: 0 0 rem(10);

            :first-of-type{
                margin: 0;
            }
        }

        .news-item__title{
            position: static;

            padding: 0;
            margin-bottom: rem(12);

            color: $main-color;
            background-color: transparent;
        }

    }

    // КОНЕЦ Списочное представление

    &_idea{

        .share__item{
            margin-right: rem(10);
        }

        .news-item{

            &__date{
                font-size: rem(28);
            }

            &__title{
                font-size: rem(17);
            }
        }

        .date__month{
            margin-top: rem(0);

            font-size: rem(13);
        }

        .news-item__share {
            min-width: 220px;
        }

        .share__item {
            margin-right: rem(5);
        }
    }

    &__link{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        display: block;
        width: 100%;
        height: 100%;

    }

    &__image{
        display: none;
    }

    &__content{
        position: relative;
        display: flex;
        justify-content: space-between;

        margin-bottom: rem(20);
    }

    &__date{
        margin-right: rem(29);

        color: $dark-color;
    }

    &__share{
        margin-left: rem(10);
        display: none;
        min-width: rem(300);

        pointer-events: none;
    }

    &__category-wrap{
        max-width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        flex-basis: 100%;
    }

    &__category{
        position: relative;
        //z-index: 3;

        margin-bottom: rem(5);
        padding: rem(10);
        display: inline-block;
        vertical-align: top;
        //height: rem(30);

        color: $light-color;
        background-color: $hover-color;
        border-radius: rem(5);
        font-size: rem(11);
        text-transform: uppercase;

        @include clearfix;

        //&:hover{
        //    background-color: lighten($hover-color, 10);
        //    text-decoration: none;
        //}
    }

    &__title{
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        padding: rem(5) rem(24);
        display: block;

        color: $main-color;
        font-size: rem(20);
        transition: color .3s;

        &:hover{
            text-decoration: none;
        }
    }

    &__text{
        display: none;

        color: $main-color;
        font-size: rem(15);
    }

    &__idea{
        padding: rem(10);
        //height: rem(30);

        color: $main-color;
        background-color: $bg-color;
        border-radius: rem(5);
        font-size: rem(11);
        text-transform: uppercase;

        transition: background .3s, color .3s;

        &:hover{
            background-color: $main-color;
            color: $light-color;
            text-decoration: none;
        }
    }

    &__name{
        display: block;

        color: $main-color;
        font-size: rem(14);

        transition: color .3s;

        &:hover{
            text-decoration: none;
        }
    }
}