mixin slider-large(data)
    +b.slider-large&attributes(attributes)
        +e.UL.list
            +e.item(style="background-image: url(__static__img/content/slider-big.png)")
                +e.link(href="ent.link")
