.interview {
    padding: rem(20);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover{

        .interview__header{
            color: $hover-color;
        }
    }

    &__header{
        margin: 0 0 rem(31) 0;

        color: $title-color;
    }

    &__question{
        margin-bottom: rem(21);

        color: $dark-color;
        font-size: rem(18);
    }

    &__hide{
        display: none;
    }

    &__label{
        position: relative;

        display: block;
        padding-left: rem(25);
        margin-bottom: rem(13);

        font-size: rem(14);
        color: $main-color;
        cursor: pointer;

        &::before{
            position: absolute;
            left: 0;

            width: rem(18);
            height: rem(18);
            border: 1px solid ;

            border-radius: 50%;
            content: '';
        }

        &::after{
            position: absolute;
            left: rem(5);
            top: rem(5);

            width: rem(8);
            height: rem(8);
            opacity: 0;

            border-radius: 50%;
            background-color: $hover-color;
            content: '';
        }

    }

    &__radio{
        display: none;

        &:checked + .interview__label:after{
            opacity: 1;
        }
    }

    &__btn{
        position: relative;

        display: block;
        margin: auto;
        min-width: rem(137);
        padding: rem(10) rem(10) rem(10) rem(33);
        border:none;

        font-size: rem(18);
        background-color: #27aae1;
        border-radius: rem(30);
        color: $light-color;
        text-transform: uppercase;

        &:hover{
            background-color: $hover-color;

            &::before{
                color: $hover-color
            }
        }

        &::before{
            position: absolute;
            left: rem(3);
            top: 50%;
            transform: translateY(-50%);

            width: rem(26);
            height: rem(26);
            background-color: #fff;

            font-family: glyphicons;
            content: '\e013';
            color: #27aae1;
            border-radius: 50%;
            text-align: center;
            line-height: rem(26);

        }
    }

}